<!DOCTYPE html>
<html>
    <head>
        <meta http-eqiuv="content-type" content="text/html; charset=windows-1252">
        <meta charset="utf-8">
        <title>
            {{ the_title }}
        </title>
        <link rel="stylesheet" href="/static/dcc.css">
    </head>
    <body>
        <h1>
            {{ the_heading }}
        </h1>
        <form method="POST" action="/character_funnel" class="check-options">
            <p><input type="checkbox" name="suitability" checked /> Check suitability</p>
            <p><input type="checkbox" name="nohuman" /> No humans!</p>
            <p><input type="checkbox" name="nodwarf" /> No dwarves!</p>
            <p><input type="checkbox" name="noelf" /> No elves!</p>
            <p><input type="checkbox" name="nohalfling" /> No halflings!</p>
            <p><input type="submit" value="Let's roll!" /></p>
        </form>
        <div>
            <p>Explanation</p>
            <p class="explanation">The purpose of this website is to randomly generate 4 zero-level characters for use in the Dungeon Crawl Classics RPG from Goodman Games. You will be presented with a printable 11x8.5 pdf that you can save and print if you like characters on it. If you don't like the characters, feel free to use the back button to come back to this page and try again.</p>
            <p class="explanation">Standard procedure is to roll 3d6 for each attribute. If 'Check suitability' is checked, the app will reroll any characters that have a negative total attribute bonus. This idea is borrowed from the Lamentations of the Flame Princess OSR game.</p>
            <p class="explanation">Standard procedure is to include 70% humans, 10% dwarves, 10% elves, 10% halflings/hobbits in the characters rolled. If you want to exclude any of these four 'races' from your results, you may by checking the appropriate box. You need to allow at least one of them though. If you check all the boxes to exclude all the races, the app will ignore all the checks and any of the four races will be allowed.</p>
        </div>
        <div>
            <p>Some good game links</p>
            <ul class="links-list">
                <li>
                    <p>
                        <a href="https://goodman-games.com/">Goodman Games</a>
                         - Publishers of DCC RPG and tons of other good stuff
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://www.lotfp.com/RPG/">Lamentations of the Flame Princess</a>
                         - Publishers of LotFP and other good OSR stuff
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://the-black-hack.jehaisleprintemps.net/">The Black Hack</a>
                         - Another good OSR game
                    </p>
                </li>
                <li>
                    <p>
                        <a href="http://www.sinenomine-pub.com/?page_id=395">Stars Without Number</a>
                         - An OSR game about lasers and spaceships instead of dungeons and dragons
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://knightowlpublishing.com/">Knight Owl Publishing</a>
                         - Publisheers of neat things like 'The Chaos Gods Come to Meatlandia' and 'The Black Blade of the Demon King'
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://noisms-games.squarespace.com/">Noisms Games</a>
                         - Yoon Suin is a neat thing to read
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://henchmanabuse.blogspot.com/">Henchmen Abuse</a>
                         - I like the Anomalous Subsurface Environment books
                    </p>
                </li>
                <li>
                    <p>
                        <a href="https://twodollarradio.com/collections/sator-press-satyr-press/products/maze-of-the-blue-medusa">Maze of the Blue Medusa</a>
                         - This book is crazy
                    </p>
                </li>
            </ul>
        </div>
    </body>
</html>
