body {
    background-color: #ffcc99;
}

h1 {
    color: #000000;
    font-family: "Liberation Sans", sans-serif
}

.check-options {
    color: #000000;
    font-family: "Liberation Sans", sans-serif;
    font-size: large;
}

.explanation {
    color: #000000;
    font-family: "Liberation Serif", serif;
    font-size: medium;
}

.links-list {
    color: #000000;
    font-family: "Liberation Serif", serif;
    font-size: medium;
}
